body {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    place-items: center;
}

.todo_item:has(input[type="checkbox"]:checked) label {
    text-decoration: line-through;
    color: #888888;
}